/* @layer components {
	section.stats > .stats-content > .stats-items.values > .stats-item {
		@apply border rounded h-[4.5rem] p-2 grid grid-cols-3 text-center;
	}
} */

/*
	.values {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 1rem;
	}
*/
