@import 'tailwindcss';

@layer base {
	:root {
		/* Theme */
		--primary: var(--black);
		--primary-2: var(--black-2);
		--primary-3: var(--black-3);

		--secondary: var(--white);
		--secondary-2: var(--off-white);

		--tertiary: var(--grey);

		/* Colors */
		--black: #000000;
		--black-2: #191919;
		--black-3: #111111;
		--off-black: #242424;

		--white: #e0e0e0;
		--off-white: #c0c0c0;

		--grey: #383838;
		--gray: var(--grey);
	}

	* {
		border-color: var(--off-white);
	}

	body {
		height: 100vh;
		width: 100vw;

		> #root {
			height: 100%;
			width: 100%;

			:focus-visible {
				box-shadow: 0 0 10px var(--off-white);
				outline: 2px solid var(--off-white);
				z-index: 1;
			}

			button {
				cursor: pointer;
				border-radius: 5px;

				&:hover {
					box-shadow: 0 0 10px var(--off-white);
					outline: 2px solid var(--off-white);
					z-index: 1;
				}
			}

			input,
			textarea {
				width: 100%;
				border-radius: 5px;
				padding: 0.5rem 1rem;
				background-color: var(--grey);
				color: var(--secondary);
			}
		}
	}
}
