@import 'tailwindcss';

@layer base {
	body {
		height: 100vh;
		width: 100vw;

		> #root {
			height: 100%;
			width: 100%;

			:focus-visible {
				box-shadow: 0 0 10px var(--off-white);
				outline: 2px solid var(--off-white);
			}

			button {
				cursor: pointer;
				border-radius: 5px;

				&:hover {
					box-shadow: 0 0 10px var(--off-white);
					outline: 2px solid var(--off-white);
				}
			}

			input,
			textarea {
				width: 100%;
				border-radius: 5px;
				padding: 0.5em 1em;
				background-color: var(--grey);
				color: var(--text-color);
			}
		}

		--background-color: var(--black);
		--text-color: var(--white);

		--black: #000000;
		--black-2: #191919;
		--off-black: #242424;

		--white: #eeeeee;
		--off-white: #e0e0e0;

		--grey: #303030;
	}
}
