@layer components {
	.core .values {
		> div {
			display: flex;

			p {
				padding: 0.5rem 1rem;
			}

			> :first-child {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 33%;
				min-width: fit-content;
				font-weight: bold;
				text-align: center;
				border: 1px solid var(--off-white);
				border-right: dotted;
				border-left: none;
				border-top-right-radius: 10px;
			}

			> :last-child {
				width: 67%;
				min-width: 50%;
				padding: 0.5rem;
				border-bottom: 1px solid var(--off-white);
			}
		}
	}
}
